html {
    font-size: 14px;
}

body {
    --principala: #FAEFC3;
    /*principala*/
    --negru: #000000;
    --albastru: #9F80F0;
    --mov:#800080;
    --roz-inchis:#E08DB8;
    background: var(--principala);
    color: var(--negru);
    margin: 0;
    padding: 0;
}

footer {
    padding: 20px;
}

header {
    text-align: center;
}

.prezentare {
    grid-area: area1;
}

.tabel {
    grid-area: area2;
}

.calendar-evenimente {
    grid-area: area3;
}

.anunturi {
    grid-area: area4;
}

.utilizatori-online {
    grid-area: area5;
}

.utilizator-statistici {
    grid-area: area6;
}

.site-server {
    grid-area: area7;
}

.continut-etapa-1 {
    grid-area: area8;
}

.grid-pagina {
    display: grid;
    margin-bottom: 1%;
    padding: 20px;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(6, 250px);
    grid-template-areas:
        'area1 area1 area1 area1'
        'area3 area2 area2 area4'
        'area5 area2 area2 area4'
        'area5 area6 area6 area7'
        'area8 area8 area8 area8'

    ;
}

.prezentare,
.tabel,
.calendar-evenimente,
.anunturi,
.utilizatori-online,
.utilizator-statistici,
.site-server,
.continut-etapa-1 {
    border: solid 1px var(--roz-inchis);
    margin: 10px;


}

h2 {
    text-align: center;
}

#link-top {
    display: block;
    position: fixed;
    bottom: 0;
    right: 0;
    text-align: center;
    border: var(--roz-inchis) solid 1px;
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-decoration: none;
    font-size: 2rem;
    color: var(--mov);
    opacity: 0.5;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    transition: opacity 0.5s, font-size 0.5s;
    background-image: radial-gradient(var(--roz-inchis), var(--roz-inchis));
}

#link-top:hover {
    opacity: 1;
    font-size: 4rem;
}

.flex-box {
    display: flex;
    justify-content: right;
    margin-right: 45%;
    line-height: 15px;
    gap: 10px;
    padding-bottom: 0;
    margin-bottom: 0;
}

.iframe-button {
    display: block;
    text-decoration: none;
    color: black;
    background-color: var(--albastru);
    border: solid var(--albastru);
    width: 100px;
    text-align: center;
    padding: 0;
    margin: 0;
    transition:  100ms;
    border-top: none;
    border-bottom-left-radius: 15%;
    border-bottom-right-radius: 15%;
}

.iframe-button:hover {
    opacity:1px;
    transition: outline 0.5s;
    top:-12px;
    background-color: var(--roz-inchis);
}

/*Cod luat de pe w3school*/
.iframe {
    position: relative;
    width: 60%;
    overflow: hidden;
    padding-top: 30%;
    border: var(--albastru)solid 4px;
}
.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;
}

ins {
    color: var(--albastru);
}

h1 {
    font-family: 'Tangerine', serif;
    font-size: 48px;
}

.wrapper {
    display: block;
    width: 20px;
    border-radius: 27%;
    align-items: center;
    border-left: solid 2px var(--roz-inchis);
    border-right: solid 2px var(--roz-inchis);
}


.triunghiulet-link {
    position: relative;
    display: inline-block;
    padding: 0 10px;
}

.triunghiulet {
    position: absolute;
    top: -8px;
    left: 50%;
    margin-left: -10px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid var(--roz-inchis);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    transition: all 500ms ease;
}

.triunghiulet-link:hover .triunghiulet {
    top: -12px;
    border-bottom-color: var(--roz-inchis);
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    border: 5px inset black;
}


th,
td {
    padding: 10px;
    border: 1px solid black;
    text-align: center;
}

.container table tr:nth-child(even) td {
    border-top-color: var(--mov);
    border-bottom-color: var(--roz-inchis);
}

.container table tr:nth-child(odd) td {
    border-top-color: var(--roz-inchis);
    border-bottom-color: var(--mov);
}

tr:hover {
    outline: 5px solid rgba(0, 0, 0, 0.7);
    transition: outline 0.5s;
}

caption {
    color: var(--mov);
    caption-side: bottom;
    font-weight: bold;
    font-size: 25px;
    padding: 25px;
    /* padding-ul de 10px va crea un spațiu între bordura caption-ului și conținutul acestuia.*/
}

main {
    display: block;
}

.promotie {
    font-weight: bold;
    color: var(--mov);
  }
  
  .pret1 {
    font-style: italic;
  }
  
  .formula {
    color: var(--albastru);
  }
  
  .pret2{
    font-weight: bold;
  }
  