<!DOCTYPE html>
<html  lang="ro">
    <head>
        <title>Magazinul "Cartulia"</title>
        <meta name="keywords" content="carti, rechizite, penare, ghiozdane, dosare, instrumente de scris, birotica,lei">
        <meta name="description" content="Magazin de carti, rechizite, birotica si papetarie online">
        <title>Magazinul online "Cartulia"</title>
        <%- include("../fragmente/head.ejs")  %>
    </head>
    <body>
    <%- include("../fragmente/header.ejs")  %>
    <main>
        <h2>Alta pagina</h2>
    </main>

    <%- include("../fragmente/footer.ejs")  %>

    </body>
</html>