html {
    font-size: 12px;
}
.grid-pagina {
    display: grid;
    grid-gap: var(--grid-gap-tablet);
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    'area1 area1'
    'area2 area2'
    'area3 area4'
    'area5 area6'
    'area7 area7'
    'area8 area8';
    
}


#element {

    animation:  none;
}
.text-column {
    /* setăm numărul de coloane */
    column-count: 1;
  
    /* setăm lățimea și stilul liniei despărțitoare */
    column-rule: 1px solid black;
  
    /* setăm spațiul între linia despărțitoare și text */
    column-gap: 20px;
  
    /* evităm orice fragmentare a cuvintelor între coloane */
    break-inside: avoid;
  }
  