
.container {
    overflow-x: auto;
  }
  
  html {
    font-size: 10px;
}
.grid-pagina {
    display: block;
    grid-gap: var(--grid-gap-mobile);
}
.iframe-button {
    width: 50px;
}

#element {

    animation:  none;
}


body {
    padding: 0 var(--padding-mobile);
    margin: var(--margin-mobile);
  }

  .text-column {
    /* setăm numărul de coloane */
    column-count: 1;
  
    /* setăm lățimea și stilul liniei despărțitoare */
    column-rule: 1px solid black;
  
    /* setăm spațiul între linia despărțitoare și text */
    column-gap: 20px;
  
    /* evităm orice fragmentare a cuvintelor între coloane */
    break-inside: avoid;
  }
  