<footer>
    <div class="page-break"></div>
    <div class="wrapper">

        <a href="#" class="triunghiulet-link" title="Inapoi in pagina">
            <div class="triunghiulet"></div>
        </a>

    </div>
    <p id="banner">"Acesta este un proiect școlar!"</p>
    <br>
    <address>
        Date contact:
        <br>
        <a href="tel:+40731456789">Telefon</a>
        <br>
        <a href="https://www.google.ro/maps/place/Faculty+of+Mathematics+and+Informatics+-+University+of+Bucharest/@44.4355393,26.097398,17z/data=!3m1!4b1!4m5!3m4!1s0x40b1ff472f47f047:0x493984726f0235f9!8m2!3d44.4355355!4d26.0995867"
            target="_blank">Adresa</a>
        <br>
        <a href="mailto:magazincartulia@gmail.com">Adresa de email</a>
        <br>
        <a href="https://wa.me/40731456789/" target="_blank">Whatsapp</a>
    </address>
    <br>

    <p><small>Copyright &copy; Puscasu Ana-Maria</small></p>

    <p><small>Pagina creata la data <time datetime="2023-02-28">28-02-2023.</time></small></p>
</footer>
