<header>
  <h1>Magazinul online "Cartulia"</h1>
  <p id="watermark"></p>
  <p id="absolut"></p>
  <i lang="en">
      <q>Oriunde m-aş afla, dacă am o carte cu mine sunt fericită...</q>
      J.K.Rowling
  </i>
</header>

  <nav>
    <label id="hamburger" for="checkbox-meniu">
        <img src="/resurse/imagini/hamburger-menu.png" alt="menu">
    </label>
    <input id="checkbox-meniu" type="checkbox">
    <ul class="meniu">
      <li>
        <div id="ac">
            <a href="index.html" id="imagine-casa">
                <i class="fa fa-home"></i> 
            <strong id="acasa">Acasa</strong>
            </a>
        </div>  
       
        <ul class="meniu">
            <li><a href="#">Oferte promotionale</a></li>
            <li><a href="#">Lichidare de stoc</a></li>
            <li><a href="#">Noutati</a></li>
            <li><a href="#">Informatii</a></li>
        </ul></li>
      <li>
        <a href="#">Produse</a>
        <ul class="meniu">
          <li><a href="#">Carti</a></li>
          <li><a href="#">Rechizite</a></li>
          <li><a href="#">Birotica</a></li>
        </ul>
      </li>
      <li>
        <a href="#">Servicii</a>
        <ul class="meniu">
            <li><a href="#">Retur</a></li>
            <li><a href="#">Comanda</a></li>
            <li><a href="#">Livrare</a></li>
            <li><a href="#">Garantie</a></li>
    
          </ul>
      </li>
      
      <li>
        <a href="#">Cont</a>
      </li>
      <li><a href="#">Despre noi</a></li>
    </ul>
    </nav>
